<!--<!Doctype>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--<section>-->

<!--    <nav style="padding: 5px" class="navbar-expand-lg navbar-light ">-->


<!--        <div class="navbar-my">-->
<!--            <a class="navbar-brand" href="">Product</a>-->
<!--            <div class="collapse navbar-collapse navbar" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav mr-auto">-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="home">Home</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="serllerRegForm">Register Seller</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="userRegForm">Register User</a>-->
<!--                    </li>-->

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link " href="productForm">Add Product</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="showSellers">Sellers</a>-->
<!--                    </li>-->

<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link " href="buyProduct">Buy</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link " href="showUsers">Users</a>-->
<!--                    </li>-->
<!--                </ul>-->

<!--            </div>-->
<!--            <form class="my-2 my-lg-0 search">-->
<!--                <div class="navbar-search">-->
<!--                    <div class="me-2">-->
<!--                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </form>-->
<!--            <div th:include="allScript"></div>-->

<!--            <div>-->
<!--                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
<!--                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"-->
<!--                        aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="navbar-toggler-icon"></span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->