<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
<nav style="padding: 5px" class="navbar-expand-lg navbar-light ">

    <div class="navbar-container fixed-top">
        <a class="navbar-brand mt-2" href="">Product</a>
        <div class="navbar-custom collapse navbar-collapse " id="navbarSupportedContent">

            <ul style="justify-content: flex-end"  th:if="${principal == null}" class="navbar-custom navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/serllerRegForm" >Register Seller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userRegForm">Register User</a>
                </li>
                <li  class="nav-item">
                    <a class="nav-link" href="/signin">Log In</a>
                </li>
            </ul>
            <ul style="justify-content: flex-end"  th:if="${#strings.equals(principal?.getAuthorities()?.iterator()?.next(), 'ROLE_USER')}" class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link " href="/user/buyProduct">Buy</a>
                </li>

                <li class="nav-item active">
<!--                    <p th:text="${principal?.getName()}"></p>-->
<!--                    <input hidden="hidden" name="email" th:value="${principal?.getName()}">-->
                    <a class="nav-link" name="email" th:value="${principal?.getName()}" href="/user/profile">Profile</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link " href="/logout">Logout</a>
                </li>


            </ul>
            <ul style="justify-content: flex-end"   th:if="${#strings.equals(principal?.getAuthorities()?.iterator()?.next(), 'ROLE_SELLER')}"  class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>



                <li class="nav-item">
                    <a class="nav-link " href="/seller/productForm">Add Product</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/seller/profile">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="/logout">Logout</a>
                </li>

            </ul>
            <ul style="justify-content: flex-end"  th:if="${#strings.equals(principal?.getAuthorities()?.iterator()?.next(), 'ROLE_ADMIN')}"  class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link " href="/seller/productForm">Add Product</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/seller/showSellers">Sellers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/user/buyProduct">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/user/showUsers">Users</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link " href="/logout">Logout</a>
                </li>
            </ul>

        <form class="my-2 my-lg-0 search">
            <div class="navbar-search">
                <div class="me-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>

            </form>

        </div>

        <div th:include="allScript"></div>

        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>




<div  class="main-section mt-5" style=" height: auto">
<!--    <div th:if="${principal!=null}" class="sidebar-container">-->
<!--        <i class="fa fa-home" aria-hidden="true"> Home</i>-->
<!--        <i class="fa fa-user-plus" aria-hidden="true">Register Seller</i>-->
<!--        <i class="fa fa-user-plus" aria-hidden="true">Register User</i>-->
<!--        <i class="fa fa-plus" aria-hidden="true">Add product</i>-->
<!--        <i class="fa fa-plus" aria-hidden="true">Buy product</i>-->
<!--        <i class="fa fa-users" aria-hidden="true">Show Sellers</i>-->
<!--        <i class="fa fa-users" aria-hidden="true">Show Users</i>-->

<!--    </div>-->
<!--    <h1 th:if="${principal.getAuthorities()}" th:value="${principal.getAuthorities().iterator().next()  }">  hello </h1>-->
    <div class="base-section">
        <div  th:replace="${content}"></div>
    </div>

</div>




</body>
</html>
