<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
<nav style="padding: 5px" class="navbar-expand-lg navbar-light ">

    <div class="navbar-my fixed-top">
        <a class="navbar-brand" href="">Product</a>
        <div class="collapse navbar-collapse navbar" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="serllerRegForm">Register Seller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="userRegForm">Register User</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="productForm">Add Product</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="showSellers">Sellers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="buyProduct">Buy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="showUsers">Users</a>
                </li>
            </ul>

        <form class="my-2 my-lg-0 search">
            <div class="navbar-search">
                <div class="me-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>

        </form>

        </div>

        <div th:include="allScript"></div>

        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>




<div class="main-section mt-5" style=" height: auto">
    <div class="sidebar-container">
        <i class="fa fa-home" aria-hidden="true"> Home</i>
        <i class="fa fa-user-plus" aria-hidden="true">Register Seller</i>
        <i class="fa fa-user-plus" aria-hidden="true">Register User</i>
        <i class="fa fa-plus" aria-hidden="true">Add product</i>
        <i class="fa fa-plus" aria-hidden="true">Buy product</i>
        <i class="fa fa-users" aria-hidden="true">Show Sellers</i>
        <i class="fa fa-users" aria-hidden="true">Show Users</i>

    </div>
    <div  th:replace="${content}" ></div>
</div>




</body>
</html>
