<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
   </head>
<body>
<!--<div th:include="navbar"></div>-->
<section style="padding: 20px">
<div class="container">
        <h3  th:if="${availableProductList?.size() <= 0}" > There is no product</h3>
    <div style="padding-top: 10px ">

    <form th:action="@{/user/orderProduct}"  th:method="post" class="form_container" >
            <div style="font-family: sans-serif;
                        padding-top:10px; padding-bottom: 10px;">
                <label class="p-2" for="userEmail">User Email</label>
                <input type="email" id="userEmail" name="email" th:value="${principal?.getName()}">
                <p th:if="emailError" th:text="${emailError}">  </p>
            </div>
                <label class="p-2"  for="product">Example select</label>
                <select class="form_select" id="product" name="product">
                    <option th:each="product : ${availableProductList}" th:value="${product?.id}">
                        <span th:text="${product?.id}"></span>
                        <span th:text="${product?.brandName}"></span> -
                        <span th:text="${product?.processor}"></span> -
                        <span th:text="${product?.generation}"></span>
                    </option>
                </select>
                <div >
                    <label class="p-2 "  for="productDetail">Product Detail</label>
                    <textarea class="textarea" id="productDetail" name="detail" placeholder="Write something about you about this product." required></textarea>
                </div>
<!--                <div style="display:flex; justify-content:center;align-items: center">-->
                    <button class="btn btn-primary" th:if="${availableProductList?.size() > 0}" type="submit" >Submit</button>
<!--                </div>-->

        </form>
    </div>

</div>
</section>
</body>
</html>
