<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditSeller</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="navbar"></div>
<div class="container">
    <form class="form_container"  action="editSeller" method="post" >
        <div class="mb-3">
            <label  class="p-2"  for="name">name</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${seller.getName()}">
        </div>
        <div class="mb-3">
            <label for="email" class="p-2 ">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" th:value="${seller.getEmail()}">

        </div>
        <input hidden="hidden" name="sellerId" th:value="${seller.getId()}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>