<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>


    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>



<div class="container">
    <div th:insert="navbar"></div>

    <form action="producedProduct" method="post" th:each="seller : ${seller}" style="justify-content: space-evenly; " class="seller-card row">
        <div class="col-4">
            <div  class="p-3 border " th:text="${seller.getName()}   " ></div>
        </div>
        <div class="col-4">
            <div name="email" class="p-3 border " th:text="${seller.getEmail()}"></div>
        </div>
        <div  style="flex-wrap: nowrap" class="row col-4">
<!--            <button type="submit" class="p-3 border" >Edit</button>-->
            <input type="hidden" id="email" name="email" th:value="${seller.getEmail()}">
            <button type="submit" class="p-3 border" >SellerProduct</button>

        </div>


    </form>
</div>
</body>
</html>