<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:include="navbar"></div>

    <div class="container">
        <div class="user_container" >
              <div class="users">

                  <form id="user-profile" method="post" th:each="user : ${users}" style="justify-content: space-evenly; " class="seller-card row">
                      <div class="col-4">
                          <div  class="p-3 border " th:text="${user.getName()}   " ></div>
                      </div>
                      <div class="col-4">
                          <div name="email" class="p-3 border " th:text="${user.getEmail()}"></div>
                      </div>
                      <div  style="flex-wrap: nowrap" class="row col-4">
                          <!--            <button type="submit" class="p-3 border" >Edit</button>-->
                          <input type="hidden" id="userId" name="userId" th:value="${user.getId()}">
                          <button type="submit" onclick="setAction('/boughtProduct')" class="p-3 border" >My Product</button>
                          <button type="submit" onclick="setAction('/editUser1')" class="p-3 border" >Edit Profile</button>

                      </div>


                  </form>
              </div>
        </div>
    </div>
<script>
    function setAction(action) {
        document.getElementById('user-profile').action = action;

    }
</script>
</body>
</html>
