<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>


    <div th:include="navbar" > </div>

    <div  class="container">
        <div class="user_profile_container">
            <div class="user_profile">
                <h1> name</h1>
                <h1>email</h1>
                <h1> product list</h1>
                <h1> something</h1>
            </div>
        </div>



    </div>


</body>
</html>